# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
.next/
out/
*.tsbuildinfo

# Env & secrets
.env
.env.local
.env.*.local
!.env.example
apps/api/.env

# Logs
logs/
*.log
npm-debug.log*

# Test & coverage
coverage/
.nyc_output/
playwright-report/
test-results/

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# OS
.DS_Store
Thumbs.db

# Prisma
apps/api/prisma/*.db
apps/api/prisma/migrations/**/migration_lock.toml

# Mobile / Expo
apps/mobile/.expo/
apps/mobile/dist/
*.jks
*.p8
*.p12
*.mobileprovision

# Terraform
infra/terraform/.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Docker
*.pid

# Uploads (local dev)
uploads/
